#pasta de cache do python
__pycache__

#arquivo de texto com links para espaços de trabalho online
.links.txt

#banco de dados
model/dados.db

#arquivos de compilação
.buildozer
buildozer.spec
bin/
splash.png